.text-white {
    font-size: 7.5rem;
}
.contenido {
    background-color: black;
}
.card {
    height: 23%;
    background-color: #1a1919af;
    width: 25%;
    margin: auto;
    color: white;
    font-size: 5rem;
}